<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8"/>
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport">
    <link href="/css/app.css" rel="stylesheet">
    <script src="/js/prism.js"></script>
  </head>
  <body>
    {% include '_partials/_header' %}
    <div class="container ml-4 flex flex-col-reverse md:flex-row">
      <div class="flex-1">
        {% block content %}
        {% endblock %}
      </div>
      <div class="w-1/4">
        {% include '_partials/_sidebar' %}
      </div>
    </div>
  </body>
</html>
